@{
    //When this page executes, the execution is physically top to bottom.
    //This requires the developer to properly create logic so that the proper criterial paths are produced
    Layout = "~/_Layout.cshtml";
    Page.Title = "TextBox Sample";
    //Variables declared in the initial coding block are global to the etire web page
    string entereddata = "";
    string name = "";
    string email = "";
}

@if (IsPost)
{
    //IsPost test whether the page is 1st time or a post back from the browser.
    //The value of the flag will be false on the 1st time.
    //On followup post backs the flag will be true.

    //Extract any need information (data) from the form
    //Extracting data from a control uses Request.Form["controlname']
    //This is C# coding, so case sensitive and spelling is important.
    //If a controlname is NOT found, you will receive a value of NULL.
    //ALL data come from the form will be a string
    
    //EXTRACT DATA
     name = Request.Form["cscodingname"];
     email = Request.Form["Email"];
    //NOTE: the name PressMe has been given to BOTH buttons.
    //The data return from the control will be the data assigned to the value parameter.
    //Thus, the button will have a value of either name or email, NOT BOTH.
    var thebutton = Request.Form["PressMe"];

    //Start your testing for your criterial path
    if (thebutton.Equals("name"))
    {
        entereddata = name;
    }
    else
    {
        entereddata = email;
    }
}
else
{
    entereddata = "You have requested this page for the first time";
}


@section banner {<h3>Form Using TextBox</h3>}

<div>
    <form id="theForm" method="post">
        <table>
            <tr>
                <td>Enter your name:</td>
                <td><input type="text" id="javascriptname" name="cscodingname" 
                           value="@name"/></td>
            </tr>
            <tr>
                <td>Enter your email:</td>
                <td><input type="text" id="Email" name="Email" 
                           value="@email"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" id="PressMe" name="PressMe" value="name">Display Name</button>&nbsp;&nbsp;&nbsp;
                    <button type="submit" id="PressMe" name="PressMe" value="email">Display Email</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>@entereddata</label>
                </td>
            </tr>
        </table>
    </form>
</div>


